body {
  font-family: "SUSE", cursive;
}

.avatar {
  width: 250px;
  height: 350px;
}
.avatarname {
  color: #fc2c2b;
}
main {
  float: left;
}
.avatarInfo {
  margin-left: 110px;
  position: absolute;
}
.siteLink {
  color: #fc2c2b;
  font-size: 18px;
  padding: 15px;
  border: solid 3px #fc2c2b;
  border-radius: 7px;
  background-color: #f08f8f;
  text-decoration: none;
}
.siteLink:hover {
  color: #1d1b1b;
  border: solid 3px #fc2c2b;
  background-color: #fc2c2b;
}
.siteLink:active {
  color: #ffffff;
  border: solid 3px #000000;
  background-color: #000000;
}
.telegram {
  color: #33aae2;
  font-size: 18px;
  padding: 15px;
  border: solid 3px #33aae2;
  border-radius: 7px;
  background-color: #98c7dd;
  text-decoration: none;
}
.telegram:hover {
  color: #1d1b1b;
  border: solid 3px #33aae2;
  background-color: #33aae2;
}
.telegram:active {
  color: #ffffff;
  border: solid 3px #000000;
  background-color: #000000;
}
.whatsApp {
  color: #0cc143;
  font-size: 18px;
  padding: 15px;
  border: solid 3px #0cc143;
  border-radius: 7px;
  background-color: #ade5be;
  text-decoration: none;
}
.whatsApp:hover {
  color: #1d1b1b;
  border: solid 3px #0cc143;
  background-color: #0cc143;
}
.whatsApp:active {
  color: #ffffff;
  border: solid 3px #000000;
  background-color: #000000;
}
