* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  --container-max-width: 1200px;
  --container-padding-x: 30px;
  --main-text-hover-color: #f32e14;
}
body {
  background: linear-gradient(
    60deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(168, 237, 251, 1) 100%
  );
}
main {
  padding-left: var(--container-padding-x);
  padding-right: var(--container-padding-x);
}
section {
  padding-top: 15px;
  padding-bottom: 15px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: #181818 solid 2px;
  border-radius: 10px;
  box-shadow: none;
}
button {
  font-size: 18px;
  font-weight: 500;
}
p {
  font-size: 18px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: var(--container-padding-x);
  padding-right: var(--container-padding-x);
  height: 80px;
}
.logotip {
  color: #181818;
  font-size: 36px;
  font-weight: 800;
  text-decoration: none;
}
/*Сюда вписать все для наведения*/
.logotip:hover,
a:hover,
h2:hover,
h3:hover {
  color: var(--main-text-hover-color);
  border-color: #f32e14;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
}
a {
  color: #181818;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
h2 {
  color: #181818;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
}
h3 {
  color: #181818;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
}
li,
.button {
  background: transparent;
  list-style-type: none;
  padding: 15px;
  border: #181818 solid 2px;
  border-radius: 10px;
  box-shadow: none;
}
li:hover,
img:hover,
button:hover {
  border-color: #f32e14;
  box-shadow: 2px 2px 5px #181818;
}
.icon {
  width: 17px;
}

.artwork-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.artwork {
  margin-top: 10px;
  position: relative;
  height: 400px;
  transition: 1s;
}
.artwork > img {
  height: inherit;
}
.artwork > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.artwork:hover {
  transition: 0.5s;
  opacity: 0.8;

  & > h2 {
    opacity: 1;
  }
}
.footer {
  display: flex;

  justify-content: center;
  align-items: center;

  padding-left: var(--container-padding-x);
  padding-right: var(--container-padding-x);
  height: 150px;
}
footer {
  padding-bottom: 50px;
}
